body {
    font-family: 'TT Lakes', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-dark);
    background-color: var(--color-gray);
}

a,
button,
input,
textarea {
    transition-duration: 0.2s;
}

a {
    text-decoration: none;
    color: inherit;
}