@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:active {
            @content;
        }
    }
}

@media (min-width: 1366px) {
    .desktop {
        position: absolute;
        right: 0;
        width: calc(100vw - 320px);
    }
}