:root {
    --color-dark: #1B1C21;
    --color-light: #FFFFFF;
    --color-accent: #B8FFEC;
    --color-accent-shadow: #D9FFF5;
    --color-gray: #F8F8F8;
    --color-gray-alt: #7E7E82;
    --color-gray-border: #EAEAEA;
    --color-gray-form: #B5B6BC;
    --color-pink: #FF3E79;
}